In [1]:
from src.io_utils import load_data
from src.metrics import calculating_revenue_city, calculate_category_rev, calculate_average_order_value

df = load_data("data/ecommerce_sales.csv")

# Intäkt per stad

In [3]:
summary_cities = (df.groupby("city")
                    .agg(
                        antal_ordrar = ("city", "count"),
                        medelvärde_vinst = ("revenue", "mean"),
                        median_vinst = ("revenue", "median"),
                        std_vinst = ("revenue", "std")
                    ).reset_index())
revenue_city = calculating_revenue_city(df)

print("Summering av städer")
print(summary_cities)
print()
print("Topplista")
print(revenue_city)

Summering av städer
        city  antal_ordrar  medelvärde_vinst  median_vinst    std_vinst
0   Göteborg           586       1465.903840      1146.315  1200.832436
1      Malmö           396       1434.157374      1074.655  1186.505984
2  Stockholm           899       1365.074461      1080.390  1118.885719
3    Uppsala           381       1447.449921      1118.100  1248.013748
4   Västerås           238       1248.491176       980.360  1080.891927

Topplista
        city     revenue
0  Stockholm  1227201.94
1   Göteborg   859019.65
2      Malmö   567926.32
3    Uppsala   551478.42
4   Västerås   297140.90

# Intäkt per kategori

In [4]:
summary_category = (df.groupby("category")
                    .agg(
                        antal_ordrar = ("category", "count"),
                        medelvärde_vinst = ("revenue", "mean"),
                        median_vinst = ("revenue", "median"),
                        std_vinst = ("revenue", "std")
                    ).reset_index())
category_revenue = calculate_category_rev(df)

print("Summering av kategorierna")
print(summary_category)
print()
print("Topplista")
print(category_revenue)

Summering av kategorierna
      category  antal_ordrar  medelvärde_vinst  median_vinst    std_vinst
0       Beauty           241        676.572490       584.910   482.360925
1     Clothing           509       1152.740491      1016.240   765.741562
2  Electronics           618       2207.488786      1844.940  1531.683343
3         Home           490       1043.001776       897.705   721.206143
4       Sports           415       1770.249205      1595.760  1080.907882
5         Toys           227        630.026388       533.980   468.674026

Topplista
      category     revenue
2  Electronics  1364228.07
4       Sports   734653.42
1     Clothing   586744.91
3         Home   511070.87
0       Beauty   163053.97
5         Toys   143015.99

# Average order value

In [ ]:

df = load_data("data/ecommerce_sales.csv")
average_order_value, _ = calculate_average_order_value(df)
print(average_order_value)

1401.1068920000002

## visualisering_1
Intäkt per kategori

funktion: calculate_revenue_by_category

In [ ]:
from src.io_utils import load_data
from src.metrics import calculate_revenue_by_category
from src.viz import plot_revenue_by_category

df = load_data("data/ecommerce_sales.csv")
revenue_by_category = calculate_revenue_by_category(df)  #
print(revenue_by_category)

revenue_by_category = revenue_by_category.reset_index(drop=True)

plot_revenue_by_category(revenue_by_category)